/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #abb5c7;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 2px solid #333;
  font-size: 2rem;
  color: #333;
  text-align: center;
  line-height: 100px; 
  cursor: pointer; 
}

.cell.taken {
  pointer-events: none;
}

#message {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #555;
}

#restart {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restart:hover {
  background-color: #0056b3;
  /* font-weight: bold;
  font-size: 2rem; */
}
 